# mRgb
set_io -nowarn gpio_rgb[0] 39 # red
set_io -nowarn gpio_rgb[1] 40 # green
set_io -nowarn gpio_rgb[2] 41 # blue

# mCharlieplex
set_io -nowarn gpio_charlieplex[0] 38
set_io -nowarn gpio_charlieplex[1] 36
set_io -nowarn gpio_charlieplex[2] 34
set_io -nowarn gpio_charlieplex[3] 31
set_io -nowarn gpio_charlieplex[4] 32
set_io -nowarn gpio_charlieplex[5] 26
set_io -nowarn gpio_charlieplex[6] 23

# mDebug
set_io -nowarn gpio_debug[0] 2
set_io -nowarn gpio_debug[1] 46
set_io -nowarn gpio_debug[2] 47
set_io -nowarn gpio_debug[3] 45
set_io -nowarn gpio_debug[4] 48
set_io -nowarn gpio_debug[5] 3
set_io -nowarn gpio_debug[6] 4
set_io -nowarn gpio_debug[7] 44

# mSpi
set_io -nowarn gpio_spi_sdi 21
set_io -nowarn gpio_spi_sck 12
set_io -nowarn gpio_spi_csn 10
set_io -nowarn gpio_spi_sdo 20
